.heading { 
    background-image: url("Images/goldenGate.png");
 width: initial;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:rgb(245, 200, 117);
    font-size: 22px;
    text-transform: uppercase;
    text-align: right;    
   }
   div{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 50px;
    padding: 20px;   
    text-align: left;
   }
   body {
       background-color: rgba(243, 220, 177, 0.226);     
       padding: 0px;
       margin-top: 15px;
       margin-bottom: 50px;
       margin-left: 150px;
       margin-right: 150px;

       }
   ul {font-size: 18px;}
   #h3 {font-size: 20px;
       text-align: center;
    font-style: italic;}
   hr {
         height: .2rem;
         background-color: rgb(236, 166, 34);
         border: none;
         margin: 20px, 0px, 0px;
     }  
   a {
      color:rgb(82, 38, 3);
      font-weight: 600;     text-decoration: none;
      }
a:hover{
    color:rgb(107, 77, 53) !important;
}

a:visited{color:rgb(24, 10, 1);

}